[submodule "CronoEngine/vendor/spdlog"]
	path = CronoEngine/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "CronoEngine/vendor/GLFW"]
	path = CronoEngine/vendor/GLFW
	url = https://github.com/glfw/glfw
[submodule "CronoEngine/vendor/imgui"]
	path = CronoEngine/vendor/imgui
	url = https://github.com/ocornut/imgui
